<%- @agents.each do |agent| %>
  <div class="agent card" data-agent-id="<%= agent.id %>">
    <div class="card-header agent-name">
      <%= agent.name %> - <%= agent.brokerage %>
    </div>
    <div class="card-body">
      <div class="pi">
        <div class="portrait"><img src="https://randomuser.me/api/portraits/women/<%= agent.id %>.jpg" /></div>
      </div>
      <div class="stats">
        <div class="side-stats">
          <b>Side:</b> Buyers: <%= agent.agent_stat.buyers %> Sellers: <%= agent.agent_stat.sellers %>
        </div>
        <div class="type-stats">
          <b>Type:</b> 
          <ul>
            <li>SFH: <%= agent.agent_stat.sfh %></li>
            <li>Condo: <%= agent.agent_stat.condo %></li> 
            <li>Townhome: <%= agent.agent_stat.townhome %></li> 
            <li>Mobile: <%= agent.agent_stat.mobile %></li> 
            <li>Land: <%= agent.agent_stat.land %></li>
          </ul>
        </div>
        <div class="price-stats">
          <b>Price:</b> 
          <ul>
            <li>$0 - $150k: <%= agent.agent_stat.pr1 %></li> 
            <li>$150k - $300k: <%= agent.agent_stat.pr2 %></li> 
            <li>$300k - $500k: <%= agent.agent_stat.pr3 %></li>
            <li>$500k - $750k: <%= agent.agent_stat.pr4 %></li> 
            <li>$750k - $1m: <%= agent.agent_stat.pr5 %></li> 
            <li>$1m+: <%= agent.agent_stat.pr6 %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>